.container{
    background-color: red;
    height: 1000px;
    width: 100%;
    font-family: sans-serif;
}

.toolbar{
    width: 100%;
    height: 6%;
    background-color: blue;

}

h3{
    color:#fff;
    padding-top: 20px;
    padding-left: 10px;
}

ul{
    float: right;
    margin-top: -40px;
    padding-right:10px;
    color: #fff;
    

}
li{
display: inline;
word-spacing: 15px;
margin-left:  20px;

}